<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% 
        let questionCount = locals.totalQuestions ?? 0;
        let score = locals.totalCorrect ?? 0;
        let randomIndex = parseInt(Math.random()*chosenWords.length); // generate random index
        let chosenWord = chosenWords[randomIndex]; //pick that as our correct word
        let [correctWord, correctPart, correctDef] = chosenWord.split('\t'); //breaking it up into 3 parts
    %>
    <% if(questionCount === 0) { %>
        <h1>Welcome to the word quiz</h1>
   <% } else { %>
        <h1>Score: <%= score %> / <%= questionCount %> </h1>
   <% } %>
    <h2><%=correctWord%> - <%= correctPart %></h2> <!--Show word and part of speech-->
    <form action ="quiz" method ="post"> <!--Submit to quiz Js-->
    <ol>
       <% for (currentWord of chosenWords){ 
        //loop through each word , show its def in the list
        let [word , part, def] = currentWord.split('\t'); %>

            <li> 
                <label>
                    <input type ="Radio" name="userChoice" value ="<%= def %>" >
                    <%= def %>
                </label>
            </li>
       <% } %>
    </ol>
    <input type ="submit" value="Submit Button">
    <input type ="hidden" name = "correctDef" value = "<%= correctDef%>">
    <input type ="hidden" name = "totalQuestions" value = "<%=questionCount%>">
    <input type ="hidden" name = "totalCorrect" value = "<%=score%>">
    </form>
</body>
</html>